<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huang.Userdao.OAUserdao">
	<select id="OaLogin" resultType="com.huang.pojo.UserOA">
		select * from UserOA where username=#{username} and password=#{password}
	</select>


    <!-- ==============================学生信息========================================= -->
	
	
 	<select id="getSelectMess" resultType="com.huang.pojo.OAStudent">
		select * from Student 
			<where>
			<if test="text1=='姓名'">
				and name like concat('%',#{text2},'%')
			</if>
			<if test="text1=='电话'">
				and tel like concat('%',#{text2},'%')
			</if>
			<if test="text1=='编号'">
				and sid like concat('%',#{text2},'%')
			</if>
		</where>
	</select>
	<delete id="deleteStudent" parameterType="com.huang.pojo.OAStudent">
	delete from Student where id=#{id}
	</delete>
	<insert id="saveStudent" parameterType="com.huang.pojo.OAStudent">
    insert into Student(sid,name,sex,age,tel,grade)values(#{sid},#{name},#{sex},#{age},#{tel},#{grade})
	</insert>
	<select id="getupdate"  resultType="com.huang.pojo.OAStudent">
	 select * from Student where id=#{id}
	</select>
	<update id="updateStudent" parameterType="com.huang.pojo.OAStudent">
	update Student set sid=#{sid},name=#{name},sex=#{sex},age=#{age},tel=#{tel},grade=#{grade} where id=#{id}
    </update>

		
	<!-- ==============================成绩信息========================================= -->
	
	
  	<select id="ScoreSelect" resultType="com.huang.pojo.OAScore">
		select * from Score
			<where>
			<if test="text5=='姓名'">
				and name like concat('%',#{text6},'%')
			</if>
			<!--<if test="text1=='电话'">-->
				<!--and tel like concat('%',#{text2},'%')-->
			<!--</if>-->
			<if test="text5=='学号'">
				and sid like concat('%',#{text6},'%')
			</if>
		</where>
	</select>
	<delete id="deleteScore" parameterType="com.huang.pojo.OAScore">
	delete from Score where id=#{id}
	</delete>
	<insert id="saveScore" parameterType="com.huang.pojo.OAScore">
    insert into Score(num,name,course,teacher,score,time)values(#{num},#{name},#{course},#{teacher},#{score},#{time})
	</insert>
	<select id="getupdateOAScore"  resultType="com.huang.pojo.OAScore">
	 select * from Score where id=#{id}
	</select>
	<update id="updateScore" parameterType="com.huang.pojo.OAScore">
	update Score set num=#{num},name=#{name},course=#{course},teacher=#{teacher},score=#{score},time=#{time} where id=#{id}
    </update>


    <!-- ==============================班级信息========================================= -->


 	<select id="ClassSelect" resultType="com.huang.pojo.OAClass">
		select * from Class 
			<where>
			<if test="text3=='班级编号'">
				and classid like concat('%',#{text4},'%')
			</if>
			<if test="text3=='班级名称'">
				and classname like concat('%',#{text4},'%')
			</if>
		</where>
	</select>
	<delete id="deleteClass" parameterType="com.huang.pojo.OAClass">
	delete from Class where id=#{id}
	</delete>
	<insert id="saveClass" parameterType="com.huang.pojo.OAClass">
    insert into Class(classid,classname,classexplain)values(#{classid},#{classname},#{classexplain})
	</insert>
	<select id="getupdateOAClass"  resultType="com.huang.pojo.OAClass">
	 select * from Class where id=#{id}
	</select>
	<update id="updateClass" parameterType="com.huang.pojo.OAClass">
	update Class set classid=#{classid},classname=#{classname},classexplain=#{classexplain} where id=#{id}
    </update>
    <update id="UserOAs" parameterType="com.huang.pojo.UserOA">
	update UserOA set password=#{password} where id=#{id}
    </update>
   <!-- <select id="getUser"  resultType="com.huang.pojo.UserOA">
	select * from UserOA where id=#{id}
  </select> -->
</mapper>